<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="gr__think201_com" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Jost:wght@400;500;600;700&display=swap');
  </style>
  <title> Corporate Canteen </title>
  <style media="all" type="text/css">
    h2 {
      font-family: 'Jost', Arial;
    }

    h1,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    strong,
    a,
    li,
    b {
      font-family: 'DM Sans', Arial;
    }

    .content {
      max-width: 768px;
      margin: 0 auto;
    }

    .header {
      padding: 25px 40px;
    }

    .body {
      padding: 60px 40px;
      background-color: #fff;
    }

    .footer {
      padding: 40px 40px;
      background-color: #ebebeb;
    }

    .footer p {
      font-size: 13px;
      font-weight: 300;
      margin: 0;
      color: rgba(0, 0, 0, 0.75);
    }

    .footer h5 {
      margin: 0;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 400;
      margin-bottom: 5px;
    }

    .footer a {
      color: rgba(0, 0, 0, 0.75);
      font-weight: 300;
      color: rgba(0, 0, 0, 0.75);
    }

    p {
      font-size: 14px;
      color: #454545;
      font-weight: 500;
    }

    h5 {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
      font-weight: 700;
      line-height: 24px;
    }

    a {
      text-decoration: none;
    }

    .bg-green {
      background-color: #3d4380;
    }

    .p-0 {
      padding: 0 !important;
    }

    @media only screen and (max-width: 500px) {

      .header,
      .footer,
      .body {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  </style>

</head>

<body
  style="font-family: Source Sans Pro ; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F5F5F5; margin: 0; padding: 0;"
  data-gr-c-s-loaded="true" cz-shortcut-listen="true">
<div class="content" style="box-sizing:border-box; display: block; margin: 0 auto; width: 100%;">
  <table cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;" width="100%"
         class="main-table">
    <tbody>
    <tr>
      <td class="p-0" style=" font-size: 14px; vertical-align: top; margin: 0 auto !important;"
          valign="top">

        <table class="bg-green header" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
          <tr>
            <td valign="top" style="vertical-align: middle;">
              <h2 style="margin: 0; font-size: 30px; color: #fff;"> Corporate Canteen </h2>
            </td>
            <td valign="top" style="text-align: right; vertical-align: middle;">
              <a href="#"
                 style="font-size: 15px; color: #fff; font-weight: 500;">

              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- header close-->
        <table class="body" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
          <tr>
            <td class="" valign="top" style="vertical-align: middle;">
              <p style="margin-bottom: 36px;">
                Dear {{ firstName }},
              </p>
              <p>
                Greetings from Corporate Canteen!
              </p>
              <p>
                Your login verification OTP is - {{otp}}
              <p style="margin-top: 30px;">
                Thank you!
              </p>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Footer -->
        <table class="footer" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
          <tr>
            <td valign="top">

              <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                  <td style="text-align: center;">
                    <p
                      style="font-size: 13px; color:rgba(0, 0, 0, 0.66); margin-bottom: 40px; font-weight: 400;">
                      This email was sent from a notification-only address that
                      cannot accept incoming email. Please do not reply to this
                      message.
                    </p>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>

</html>
